extends layout 

block content 

    h1= title 

    form(method='POST' action='')
        div.form-group
            label(for="first_ame") First Name: 
            input#first_name.form-control(
                type="text"
                placeholder="First Name"
                name='first_name'
                required
                value=''
            )

            label(for='family_name') Family Name:
            input#family_name.form-control(
                type='text' 
                placeholder='Family Name' 
                name='family_name' 
                required
                value=''
            )

        div.form-group
            label(for='date_of_irth') Date of birth:
            input#date_of_birth.form-control(
                type='date' 
                name='date_of_birth' 
                value=''
            )
        
        div.form-group
            label(for='date_of_death') Date of death:
            input#date_of_death.form-control(
                type='date' 
                name='date_of_death' 
                value=''
            )
        
        button.btn.btn-primary(type='submit') Submit 
    
    