extends layout 

block content 

    h1 Title: #{title}

    p #[strong Author: ]
        a(href=book.author.url) #{book.author.name}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Genre: ]
        each genre, index in book.genre 
            a(href=genre.url) #{genre.name}
            if index < book.genre.length - 1
                |, 
    
    div(style='padding:20px')
        h4 Copies 

        each item in book_instances 
            hr

            if item.status === 'Available'
                p.text-success #{item.status}
            else if item.status === 'Maintenance'
                p.text-danger #{item.status}
            else
                p.text-warning #{item.status}

            p #[strong Imprint:] #[item.imprint]

            if item.status !== 'Available'
                p #[strong Due back:] #{item.due_back_formatted}

            p #[strong Id: ]
                a(href=item.url) #{item._id}

        else 
            p There are no copies of this book
